body {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("image/Lighthouse.jpg");    
    background-attachment: fixed;
    margin: 0%;
}


header nav ul {
    list-style-type: none;
    overflow: hidden;
     
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    float: left;
    margin: 0% 0% 0% 1%;
    border-radius: 12px;
    padding: 1% 2% 1% 2%;
    border:2px solid #005cb800;
    transition: 1s ease-in-out;

    
}
/*o seletor :houver alterara a tag quando o mouse passa por cima dela*/
header nav ul li a:hover {
    color: rgb(230, 183, 183);
    border:2px solid rgb(43, 20, 245);
    
    
}

header nav ul #contato a{
    margin: 0% 10% 0% 0%;
    float: right;
    border:2px solid #005bb8;
    border-radius: 12px;
    padding: 1% 2% 1% 2%;
    transition: 3s ease-in-out;
    

}

header nav ul #contato a:hover{
    border: 2px solid rgb(98, 20, 245);
}


aside {
    padding-top: 10%;
    float: right;
    color: white;
    width: 50%;
}

p {
    text-indent: 8%;
}

aside p {
    padding-right: 10%;
    padding-left: 10%;
    
}

aside img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 22px;
    width: 80%;
    opacity: 80%;
}

aside img:hover {
    
    transition: 0.5s ease-in-out;
    opacity: 100%;
}


article {
    padding-top: 14%;
    width: 50%;
    background-color: rgba(116, 112, 112, 0.285);
    border-top-right-radius: 5%;
}
article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40%;
    width: 35%;  
}

article section {
    padding-top: 30%;
    padding-bottom: 25%;
}

article section p {
    color: white;
    padding-right: 10%;
    padding-left: 10%;
}
